## Banco de Dados
MYSQL_ROOT_PASSWORD=your_password
MYSQL_DATABASE=launch
MYSQL_USER=root
MYSQL_PASSWORD=your_password
MYSQL_HOST=db

## Flask
FLASK_APP=flaskr/app.py
FLASK_DEBUG=1
SECRET_KEY=generate-a-strong-secret-key
